label {
    font-weight: 600;
}

input::-webkit-input-placeholder {
    font-family: 'roboto', sans-serif;
    transition: all 0.3s ease-in-out;
    vertical-align: bottom;
}

input {
    width: 100%;
    display: block;
    border: none;
    padding: 20px 0 5px 0;
    border-bottom: solid 1px #009688;
    transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
}

input:focus,
input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    color: #009688;
}

input:focus::-webkit-input-placeholder {
    color: #009688;
    font-size: 11px;
    transform: translateY(-20px);
    visibility: visible !important;
}

.event-signup-form {
    width: 30%;
    max-width: 300px;
}

.form-field {
    height: 60px;
}

.validation-error {
    color: #d32f2f;
}

.submit-button {
    height: 30px;
    width: 60px;
    border: none;
    float: right;
    background-color: #009688;
    color: white;
    border-radius: 3px;
}

.submit-button:disabled {
    background-color: #00695C;    
}